In [1]:
print("hello")

hello

In [2]:
import numpy as np

In [3]:
from scipy import sparse

In [4]:
y = np.eye(4)

In [5]:
y

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

In [6]:
from sklearn.datasets import load_iris

In [22]:
iris = load_iris()
iris.keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename'])

In [23]:
import pandas as pd

In [24]:
type(iris)

sklearn.utils.Bunch

In [25]:
data1 = pd.DataFrame(data= np.c_[iris['data'], iris['target']],
                     columns= iris['feature_names'] + ['target'])

In [27]:
data1.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0.0
1,4.9,3.0,1.4,0.2,0.0
2,4.7,3.2,1.3,0.2,0.0
3,4.6,3.1,1.5,0.2,0.0
4,5.0,3.6,1.4,0.2,0.0

In [28]:
data = pd.read_csv("data.csv")

In [29]:
data

     sky air temp humidity    wind water forecast enjoy sport
0  sunny     warm   normal  strong  warm     same         yes
1  sunny     warm     high  strong  warm     same         yes
2  rainy     cold     high  strong  warm   change          no
3  sunny     warm     high  strong  cool   change         yes

In [30]:
data["sky"]

0    sunny
1    sunny
2    rainy
3    sunny
Name: sky, dtype: object

In [31]:
data["enjoy sport"]

0    yes
1    yes
2     no
3    yes
Name: enjoy sport, dtype: object

In [32]:
from sklearn.model_selection import train_test_split

In [45]:
from sklearn import preprocessing

In [46]:
le = preprocessing.LabelEncoder()

In [47]:
le

LabelEncoder()

In [48]:
data["sky"] = le.fit_transform(data["sky"])

In [49]:
data

   sky air temp humidity    wind water forecast enjoy sport
0    1     warm   normal  strong  warm     same         yes
1    1     warm     high  strong  warm     same         yes
2    0     cold     high  strong  warm   change          no
3    1     warm     high  strong  cool   change         yes

In [51]:
data["air temp"] = le.fit_transform(data["air temp"])
data["humidity"] = le.fit_transform(data["humidity"])
data["wind"] = le.fit_transform(data["wind"])
data["water"] = le.fit_transform(data["water"])
data["forecast"] = le.fit_transform(data["forecast"])
data["enjoy sport"] = le.fit_transform(data["enjoy sport"])

In [52]:
data

   sky  air temp  humidity  wind  water  forecast  enjoy sport
0    1         1         1     0      1         1            1
1    1         1         0     0      1         1            1
2    0         0         0     0      1         0            0
3    1         1         0     0      0         0            1

In [53]:
X = data.iloc[:, :-1]

In [54]:
y = data.iloc[:, -1]

In [71]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.33, random_state=0)

In [72]:
X_train

   sky  air temp  humidity  wind  water  forecast
1    1         1         0     0      1         1
0    1         1         1     0      1         1

In [73]:
names = ["adarsh", "abhinandan", "anvitha"]
for idx, name in enumerate(names) :
    print(idx, name)

0 adarsh
1 abhinandan
2 anvitha

In [74]:
from sklearn.linear_model import LinearRegression

In [75]:
linear_regression = LinearRegression()
linear_regression.fit(X_train, y_train)

LinearRegression()

In [76]:
score = linear_regression.score(X_test, y_test)

In [77]:
score

-1.0

In [83]:
y_pred = linear_regression.predict(X_test)

In [84]:
y_pred

array([1., 1.])