In [74]:
import pandas as pd
import numpy as np

In [75]:
data = pd.read_csv("data.csv")
data

     sky air temp humidity    wind water forecast enjoy sport
0  sunny     warm   normal  strong  warm     same         yes
1  sunny     warm     high  strong  warm     same         yes
2  rainy     cold     high  strong  warm   change          no
3  sunny     warm     high  strong  cool   change         yes

In [76]:
d = np.array(data)[:,:-1]
d

array([['sunny', 'warm', 'normal', 'strong', 'warm', 'same'],
       ['sunny', 'warm', 'high', 'strong', 'warm', 'same'],
       ['rainy', 'cold', 'high', 'strong', 'warm', 'change'],
       ['sunny', 'warm', 'high', 'strong', 'cool', 'change']],
      dtype=object)

In [77]:
target = np.array(data)[:, -1]

In [78]:
target

array(['yes', 'yes', 'no', 'yes'], dtype=object)

In [72]:
def find_s(d, target) :
    spec_hypothesis = []
    for idx, val in enumerate(target) :
        if val == "yes" :
            spec_hypothesis = d[idx].copy()
            break
    
    for idx, val in enumerate(d) :
        if target[idx] == "yes" :
            for x in range(len(spec_hypothesis)) :
                if val[x] != spec_hypothesis[x] :
                    spec_hypothesis[x] = "?"
                else :
                    pass
                    
    return spec_hypothesis

In [79]:
find_s(d, target)

array(['sunny', 'warm', '?', 'strong', '?', '?'], dtype=object)